#app {
    #main {
        .section {
            .card {
                margin-bottom: 1rem;
                .card-body {
                    .informationTransaksi {
                        margin-bottom: 1.7rem;
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        .info {
                            display: flex;
                            align-items: flex-end;
                            font-size: 14px;
                            color: #607080;
                            .date {
                                margin-right: .7rem;
                            }
                            .label {
                                border-radius: 4px;
                                padding: 2px 8px;
                                font-weight: 700;
                                margin-right: .7rem;
                                font-size: 12px;
                            }
                            .succses {
                                background: rgb(214, 255, 222);
                                color: rgb(3, 172, 14);
                            }
                            .notPaid {
                                background-color: rgb(255, 234, 239);
                                color: rgb(239, 20, 74);
                            }
                            .transactionID {
                                margin: 0;
                            }
                        }
                        .viewDetailTransaction {
                            font-weight: 700;
                            font-size: 14px;
                        }
                    }
                    .detailServiceInformation {
                        display: flex;
                        justify-content: space-between;

                        .detailService {
                            display: flex;
                            align-items: flex-start;
                            .imagesService {
                                margin-right: .7rem;
                                img {
                                    width: 100%;
                                    max-width: 94px;
                                    max-height: 94px;
                                    border-radius: 8px;
                                }
                            }
                            .infoService {
                                .nameService {
                                    margin: 0;
                                    font-size: 20px;
                                    font-weight: 700;
                                }
                                .descService {
                                    margin-bottom: 0;
                                    font-size: 14px;
                                }
                            }
                        }

                        .detailPriceService {
                            padding: 0 1.5rem;
                            border-left: 1px solid #E5E7E9;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            font-size: 14px;
                            font-weight: 700;
                            p {
                                margin: 0;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 768px) {
    #app {
        #main {
            .section {
                .card {
                    .card-body {
                        .informationTransaksi {
                            .info {
                                font-size: 12px;
                                .label {
                                    font-size: 12px;
                                }
                            }
                            .viewDetailTransaction {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 547px) {
    #app {
        #main {
            .section {
                .card {
                    .card-body {
                        .informationTransaksi {
                            flex-direction: column;
                            align-items: flex-start;
                            .info {
                                margin-bottom: 1rem;
                                font-size: 10px;
                                .date {
                                    margin-right: .3rem;
                                }
                                .label {
                                    margin-right: .3rem;
                                    font-size: 10px;
                                }
                            }
                            .viewDetailTransaction {
                                width: 100%;
                                text-align: end !important;
                            }
                        }
                        .detailServiceInformation {
                            .detailService {
                                .infoService {
                                    .nameService {
                                        font-size: 14px;
                                    }
                                    .descService {
                                        font-size: 12px;
                                    }
                                }
                            }
                            .detailPriceService {
                                font-size: 10px;
                                padding: 0 0 0 .7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}